<template name="poll">
    <div class="poll well well-lg" data-id="{{ _id }}">
        <div class="head_poll"> 

        {{#if isOwner}}
            <i class="delete fas fa-times"></i>
        {{/if}}

        <h2> {{ newPoll.question }}</h2> </div>

        {{ #each indexedArray newPoll.choices }}
            <a href="#" class="vote btn btn-block" data-id="{{ _index }}">
                <span class="text">{{ text }} : </span>
                <span class="votes pull-right">{{ votes }} votes.</span>
            </a> <br />
        {{ /each }}
    </div>
</template>